# JWT Config
JWT_SECRET_KEY=your_jwt_secret_key_here

# Database Config
DATABASE_URL=sqlite:///./auth_service.db

# Firestore Credentials
FIRESTORE_PROJECT_ID=payment-enterprise
FIRESTORE_PRIVATE_KEY_ID=your_private_key_id_here
FIRESTORE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
FIRESTORE_CLIENT_EMAIL=
FIRESTORE_CLIENT_ID=
FIRESTORE_CLIENT_CERT_URL=